html {
  background-color: lightgray;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.status {
  font-size: 12px;
  margin-bottom: 4px;
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: whitesmoke;
  padding: 12px 16px;
  border-radius: 8px;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
  > span {
    width: 30px;
  }
}

button {
  padding: 4px 8px;
  font-size: medium;
  font-weight: bold;
  min-width: 120px;
}

.warn {
  color: red;
  font-size: x-small;
  margin: 0;
}
